
:root {
	font-size: 16px;
}

*{
	box-sizing: border-box;
}

$primary:#ff782b;
$secondary: #fff1e9;
$navbar-light-color: $primary;
$input-bg: transparent;
$table-border-color: $primary;

@import "bootstrap-css/bootstrap.scss";

// /*tipografía*/
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
	background-color: $primary;
	background-image: url(../images/section-background.jpg);
}

h1, h2, h3{
	color: #fff;
	font-family: 'Noto Serif SC', serif;
}
h1{
	font-size: 3.5rem;
	@media(max-width: 500px){
		&{
			font-size:2.5rem;
		}
	}
}
p{
	font-size: 1rem;
}

.container{
	max-width: 1440px;
}
// header
nav{
	a{
		img{
			@media (max-width: 500px) {
			&{
			width: 140px;
			height:50px;
			}	
			}	
		}
	}
}

/*enlaces*/
a{
	color: $primary;
	text-decoration: none;
	font-size: 1rem;
	transition: all 300ms ease;	

	&:hover{
	color: #db550b;
	}
}
$backgrounds: clases, contacto, inicio, quienes-somos, que-es-yoga;
@each $banner in $backgrounds{
	.background-#{$banner} {
		background-color: $primary;
		background-image: url(../images/background-#{$banner}.jpg) ;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 70% %80;
		padding: 50px;
		text-align: left;
		height: 500px;
		color: #fff;
		h1{
		margin-bottom: 10px;
		}
		p{
		margin-bottom: 40px;
		color: $secondary;
		}
		display: flex;
		align-items: center;
		
	}
}
.wrapper-main{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.texto-alineado{
	text-align: center;
}
section{
	h2{
		color: $primary;
	}
}

/*grilla index*/

.grilla-partes-de-clase{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: 1fr;
	gap: .5rem;
	row-gap: 1.6rem;
	& > *{
  	margin: 2rem;
	display: grid;
	place-items: center;
	padding: 2rem;
	}
	a{
		text-decoration: none;
	}
	h3{
	text-shadow: 0px 1px 10px rgba(0,0,0,0.55);
	}
 	@media (max-width: 769px){
 	display: block;
 	& > *{
 	height: 350px;	
 	}
 	}
 }




.frase{ 
grid-column: span 3;
background-color: $primary; 
position: relative;
border-radius: 3px;
text-align: center;
	 p{ 
	font-size: 1.5rem;
	color: #fff1e9;
	}
	 img{
	border-radius: 3px;
	}
}

.image{
	grid-column: span 2;
	position: relative;
	img{
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 3px;
	transition: .3s ease-in-out;
	}
	&:hover img{
	max-height: 100%;
	max-width: 100%;
	background-color: $primary;
	transform: translate(0px, -5px);
	}
	h3{
	position: relative;
	z-index: 2;
	}
}


.frase.frase-imagen{
	padding: 0;
	img{
	width: 100%;
	}
}



.boton-empecemos{
	color: $secondary;
	font-weight: 600;
	background-color: $primary;
  	padding: 8px 20px;
  	border-radius: 5px;
  	width: 140px;
	transition: .3s ease-in-out;
	  
  	&:hover{
	background-color: #fff;
	color: $primary;
	text-decoration: none;
	-webkit-box-shadow: 0px 6px 34px 0px rgba(0,0,0,0.17);
-moz-box-shadow: 0px 6px 34px 0px rgba(0,0,0,0.17);
box-shadow: 0px 6px 34px 0px rgba(0,0,0,0.17);
	}
}	



.boton-mas-info{
	color: $primary;
	font-weight: 600;
	background-color: $secondary;
  	padding: 8px 20px;
  	border-radius: 5px;
  	width: 150px;
  	transition: .3s ease-in-out;
}

.mas-info{
	padding: 3rem;
	text-align: center;
	p{
		margin-bottom: 50px;
	}
	h2{
	color: $primary;
	margin-bottom: 30px;
	font-size: 2.5rem;
	@media(max-width: 500px){
		&{
			font-size:2rem;
		}
	}
	}
}
// quiénes somos 
.grilla-quienes-somos{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    @media (max-width: 769px){
        grid-template-columns:100%;
        .grilla3{
            order: 4;
        }
        .grilla4{
            order:3;
        }
    }   
}   
   

    article{border: none;
        // position: relative;
        img{
            // position:absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.article-texto{
            display:flex;
            flex-direction: column;
            justify-content: center;
            padding: 4rem;
            text-align: justify;
        }

    }

// secciones qué es yoga
.columnas-que-es{
	display: flex;
	& > *{
		padding: 2rem;
	}
	@media (max-width: 992px){
		flex-wrap: wrap;
	}
}
.pilares-yoga{
	margin-top: 4rem;
	padding: 2rem;
	h2{
		
		padding-bottom: 2rem;
	}
	h3{
		color: $primary;
		font-size: 1.3rem;
	}
	img{
		border-radius: 5px;
	}
	article{
		margin-bottom: 3rem;
	}
}

 /*tabla*/
 table{	
	thead{
		color: #fff;
		background-color: $primary;
	}
	border-radius: 5px;
	margin-left: auto;
	margin-right:auto;
	-webkit-box-shadow: 0px 10px 21px 1px rgba(255,120,43,0.13);
-moz-box-shadow: 0px 10px 21px 1px rgba(255,120,43,0.13);
box-shadow: 0px 10px 21px 1px rgba(255,120,43,0.13);
 }

// clases
 .horarios{
	margin-top: 3rem;
	margin-bottom: 3rem;
 }
 .elementos-clases{
	 margin: 1.5rem auto 3rem auto;
	 display: flex;
		 justify-content: center;
	 ul{
		 li{
			 list-style: none;
		 }	
		padding-left: 0; 

	 }
 }
//  contacto
.donde-estamos{
	margin: 3rem 0;
	h2{
		text-align: center;
		margin-bottom: 2rem;
	}
}	
footer{
	background-color: $secondary;
	display:block;
	padding-top: 30px;
}

.footer-wrapper{
	& > * {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	h4{
		font-size: 0.9rem;
	}
	h3{
		color: $primary;
		font-size: 1.3rem;
	}
	}
	.redes-copy-footer{
		border-top: solid 1px $primary;
		margin-top: 2rem;
		padding: 1rem 0px;
		section{
			p{font-size:.65rem;
				color: $primary;
				margin: 5px;
			}	
		}	
	}
}

.icon-social{
	width: 20px;
	margin: 5px;
	&:hover{
		opacity: 50%;
		transition: .3s ease-in-out;
	}		
}

/*Animaciones*/
.fade-in {
animation: fadeIn ease 1.5s;
-webkit-animation: fadeIn ease 1.5s;
-moz-animation: fadeIn ease 1.5s;
-o-animation: fadeIn ease 1.5s;
-ms-animation: fadeIn ease 1.5s;
}
@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
