.grilla-quienes-somos{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    @media (max-width: 769px){
        grid-template-columns:100%;
        .grilla3{
            order: 4;
        }
        .grilla4{
            order:3;
        }
    }   
}   
   

    article{border: none;
        // position: relative;
        img{
            // position:absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.article-texto{
            display:flex;
            flex-direction: column;
            justify-content: center;
            padding: 4rem;
            text-align: justify;
        }

    }